---
- name: Deploy Docker container
  hosts: ansible_client
  # become: true
  vars: 
    jenkins_build_number: "{{ jenkins_build_number | default('latest') }}"
    docker_image_name: aks0207/ansible-nginx
    docker_image_tag: "{{ jenkins_build_number }}"
  tasks:
  - name: pull an image
    docker_image:
      name: "{{ docker_image_name }}:{{ jenkins_build_number }}"
      source: pull
  - name: Create volume
    docker_volume:
      name: nginx-data
      driver: local
  - name: Run nginx Docker container
    docker_container:
      name: nginx
      image: "{{ docker_image_name }}:{{ jenkins_build_number }}"
      state: started
      ports:
        - "8000:80"
      volumes:
        - "nginx-data:/usr/share/nginx/html:ro"
